.h_navbar {
	-webkit-transition:all 0.7s;
	transition:all 0.7s;
}

.h_link {
	font-size: 17px;
	color: #fff;
}

.h_link:hover {
	color: #999999;
}

.h_img_pro {
	object-fit: cover;
}

.h_cont_imgs {
	display: flex;
	justify-content: center;
	margin-right: 10px;
}

.h_cont_imgs:hover #h_cont_input {
	display: block;
}

.h_cont_imgs:hover .h_img_nf {
	margin-top: 5px;
}

#h_cont_input {
	display: none;
}

.h_img_nf {
	margin-right: 10px;
	filter: invert(100%);
}

.h_cont_right:hover .h_img_che {
	transform: rotate(0deg);
}

.h_img_che {
	transform: rotate(180deg);
	filter: invert(100%);
	-webkit-transition:all 0.5s;
	transition:all 0.5s;
}
