@import url("https://fonts.googleapis.com/css?family=Heebo:700|Lato:700|Roboto:500");

html, body, .root {
	height: 100%;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Teko", "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  	background: #fff url("../medias/bg.jpg") no-repeat fixed center;
	background-size: cover;
}
